<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background custom-main">
    <div>
        <h1 class="header-text">Welcome to <span>SkillCamper meet</span></h1>
        <div class="button-div">
            <%= link_to t("login"), signin_path, :class => "signin-button" %>
        </div>
    </div>
</div>

<div class="custom-features">
    <span class="custom-features-header">The SkillCamper edge</span>
    <div class="card-main-div">
        <div class="card-div">
            <img class="icon" src="https://devmeet.skillcamper.in/images/openmoji_trophy.svg"/>
            <div>
                <div class="card-bold-text">The only comprehensive Bootcamp for starting a fast track career</div>
                <div class="card-text">We follow 3Cs based global learning method:<br>
                    <b>- C</b>ore expertise <br>
                    <b>- C</b>ommunication training<br>
                    <b>- C</b>ollaboration with teams</div>
            </div>
        </div>

        <div class="card-div">
            <img class="icon" src="https://devmeet.skillcamper.in/images/system-uicons_document-justified.svg"/>
            <div>
                <div class="card-bold-text">Global course curriculum not just Industry approved</div>
                <div class="card-text">- We follow Neuroscience based <b>Do-Learn-Do</b> method of learning so that you <b>Practice skills to achieve Mastery!</b></div>    
            </div>
        </div>

        <div class="card-div">
            <img class="icon" src="https://devmeet.skillcamper.in/images/bytesize_search.svg"/>
            <div>
                <div class="card-bold-text">Real world experience | Job ready – not just certifications ready</div>
                <div class="card-text">- Live project based learning to <b>gain Industry expertise</b> – in less than 6 months.<br>- Get skilled at 21 key attributes which your employer needs</div>
            </div>
        </div>

        <div class="card-div">
            <img class="icon" src="https://devmeet.skillcamper.in/images/la_hands-helping.svg"/>
            <div>
                <div class="card-bold-text">360 degree career support – from CV to offer letter</div>
                <div class="card-text">- Great jobs at Great salaries<br>- Hiring partners (we send your CVs there)<br>- <b>1-1 Mentorship</b> by Industry experts</div>    
            </div>
        </div>
    </div>
</div>
<div class="custom-term-privacy">
    <span class="term-privacy-text">
        By using our services, you agree to our use of our <a href="https://www.skillcamper.com/terms-conditions/" class="underline-and-blue">Terms & Conditions</a> and <a href="https://www.skillcamper.com/privacy-policy/" class="underline-and-blue">Privacy Policy</a>.
    </span>

</div>

